* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #efefef;
  align-items: center;
  display: flex;
  height: 70%;
  flex-direction: column;
  min-height: 320px;
  justify-content: center;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name {
  color: #222;
  display: flex;
  font-size: 48px;
  justify-content: center;
}

.profile {
  border-radius: 50%;
  margin: 20px;
}

.icon {
  font-size: 72px;
  margin: 0 5%;
}

.fi-social-github {
  color: #221e1b;
}

.fi-social-linkedin {
  color: #007bb6;
}

.fi-social-twitter {
  color: #00aced;
}
